{% extends "base.html" %}

{% block content %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">    
        <img src="{{ url_for('static', filename='img/echo.svg') }}" alt="Echo" class="mx-auto h-10 w-auto mt-10" />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="" method="post" novalidate class="space-y-6">
            {{ form.hidden_tag() }}
            <div>
                
                {{ form.username.label(class="block text-sm/6 font-medium text-gray-100") }} 

                {{ form.username(class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6") }}

                {% for error in form.username.errors %}
                <span class="text-sm text-red-400">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <div class="flex items-center justify-between">
                    {{ form.password.label(class="block text-sm/6 font-medium text-gray-100") }}

                    <div class="text-sm">
                        <a href="{{ url_for('reset_password_request')}}" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
                    </div>
                </div>
                
                <div class="mt-2">
                {{ form.password(class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6") }}
                </div>

                {% for error in form.password.errors %}
                <span class="text-sm text-red-400">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label(class="inline text-sm/6 font-medium text-gray-100") }}</p>
            <p class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{{ form.submit() }}</p>
        </form>
        
    <p>
       
    </p>
    <p class="mt-10 text-center text-sm/6 text-gray-400">New User? <a href="{{ url_for('register') }}" class="font-semibold text-indigo-400 hover:text-indigo-300">Click to Register!</a></p>
{% endblock %}


